body {
    background-color: #EAD1BA;
    position: relative;
    text-align: center;
}

h1 {
    color: #CE7457; 
    margin-top: 40px;
    margin-bottom: 30px;
}

input{
    font-style: italic;
    height: 25px;
    background-color: #F5F5F5;
    border: 1px solid #CE7457; 
    color: #CE7457;
}

#button {
    background-color: #CE7457; 
    color: #EAD1BA; 
    border: none;
    height: 25px;
    border-radius: 5px;
    width: 80px;
    position: relative;
    left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

p{
    color: #333;
    font-size: large;
    font-weight: bold;
}
.values{
    color: #CE7457;
}
.results{
    color: #CE7457;
}