body {
    background-color: #F5EFEB;
    position: relative;
    text-align: center;
}

h1 {
    color: #2F4156; 
    margin-top: 40px;
    margin-bottom: 30px;
}

input{
    font-style: italic;
    height: 25px;
    background-color: #F5EFEB;
    border: 1px solid #2F4156; 
    color: #2F4156;
}

#button {
    background-color: #2F4156; 
    color: #F5EFEB; 
    border: none;
    height: 25px;
    border-radius: 5px;
    width: 80px;
    position: relative;
    left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#button:hover{
    background-color: #1a2d3e;
}
p{
    color: #333;
    font-size: large;
    font-weight: bold;
}
.values{
    color: #2F4156;
}
.results{
    color: #2F4156;
}